.open-reg {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.open-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #484848;
}
#logo {
  margin-top: 4px;
  margin-bottom: 0;
  color: #ffcb0f;
  font-size: 2.7em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.info {
  background-color: #ffcb0f;
}
.main-info {
  height: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.main-web {
  padding-right: 10px;
  font-size: 1.2em;
}
.main-header h1 {
  margin-top: 7rem;
  margin-bottom: 3rem;
  color: white;
  font-size: 4.8em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.main-header h1 span {
  color: #ffcb0f;
}
.main-header p {
  margin-top: 1rem;
  margin-bottom: 10rem;
  color: white;
}
.banner {
  background-color: #222533;
  height: 10rem;
}
span.logo {
  color: #b7b7b7;
}
span.logo p.text-center {
  margin-top: 0;
}
ul.nav {
  width: 755px;
  margin-top: 4rem;
  /* padding: 35px; */
}
ul.nav li {
  display: inline;
}
ul.nav li a {
  color: white;
  display: inline;
  outline: none;
}
ul.nav li a:focus {
  outline: none;
}
ul.nav li a:hover {
  color: #ffcb0f;
}
.section-header {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.section-header h2 {
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.section-header h4 {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
#title {
  height: 90vh;
  background: url(../img/bg-car.jpg) 0 0 no-repeat;
}
a.main-btn {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  padding: 15px;
  background-color: #ffcb0f;
  color: white;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
a.main-btn:hover {
  background-color: #222533;
  color: #ffcb0f;
}
a.main-btn-left {
  margin-right: 100px;
}
.around {
  background-color: #ffcb0f;
  width: 180px;
  height: 180px;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  margin-left: 1%;
}
.circle-1 {
  background-color: #ffd642;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  position: absolute;
  border-radius: 50%;
}
.circle-2 {
  background-color: #ffe175;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  position: absolute;
  border-radius: 50%;
}
.circle-3 {
  background-color: white;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  position: absolute;
  border-radius: 50%;
}
.circle-4 {
  position: absolute;
  top: 20%;
  left: 12%;
  font-size: 180px;
}
.fa-users {
  position: absolute;
  top: 32%;
  left: 32%;
}
.choose {
  margin-top: 210px;
}
.feedback-box img {
  width: 90px;
}
.feedback-box h4 {
  padding-top: 2%;
}
.feedback-box p {
  padding-bottom: 2%;
  padding-right: 20px;
  padding-left: 20px;
}
.slick-active {
  outline: none;
}
section#gallery {
  background: url(../img/bg-galery.jpg) 0 0 no-repeat;
}
.small {
  width: 300px;
  height: 230px;
}
.footer-list {
  list-style-type: none;
}
