.open-reg {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.open-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #484848;
}
.main-header #logo {
  font-size: 35px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.main-header h1 {
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.section-header {
  padding-top: 5%;
  padding-bottom: 5%;
}
.section-header h2 {
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.section-header h4 {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.around {
  background-color: #ffcb0f;
  width: 180px;
  height: 180px;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  margin-left: 1%;
}
.circle-1 {
  background-color: #ffd642;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  position: absolute;
  border-radius: 50%;
}
.circle-2 {
  background-color: #ffe175;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  position: absolute;
  border-radius: 50%;
}
.circle-3 {
  background-color: white;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  position: absolute;
  border-radius: 50%;
}
.circle-4 {
  position: absolute;
  top: 20%;
  left: 12%;
  font-size: 180px;
}
.fa-users {
  position: absolute;
  top: 32%;
  left: 32%;
}
.choose {
  margin-top: 210px;
}
.feedback-box img {
  width: 280px;
}
.feedback-box h4 {
  padding-top: 2%;
}
.feedback-box p {
  padding-bottom: 2%;
  padding-right: 20px;
  padding-left: 20px;
}
.slick-active {
  outline: none;
}
#gallery {
  background: url(../img/10.jpg) 0 0 no-repeat;
  /* background-blend-mode: luminosity; */
}
.portfolio-category {
  margin-bottom: 30px;
}
.portfolio-category li {
  display: inline;
  margin-right: 10px;
}
.image-block {
  display: block;
  position: relative;
}
.image-block img {
  border: 1px solid #484848;
  border-radius: 4px 4px 4px 4px;
  background: #FFFFFF;
}
.image-block img:hover {
  border: 1px solid #ffcb0f;
  box-shadow: 0 0 5px #A9CF54;
}
.portfolio-area li {
  float: left;
  margin: 2px;
  overflow: hidden;
  width: 245px;
  padding: 2px;
}
li.active a {
  text-decoration: underline;
}
