.main-head{
	margin-top: 3%;

}
.main-logo-border{
	border: 3px solid #706b73;
	width: 155px;
	height: 55px;
	text-align: center;
	line-height: 49px;
}
.main-logo-border p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 36px;
	color: #706b73;
}
.logo-word{
	color: #fa9a87;
}
.main-nav-bar{
	position: relative;
	float: right;
	width: 30px;
	margin-top: 25px;
}
.main-nav{
	text-align: right;
}
.line{
	border-radius: 5px;
	display: block;
	width: 30px;
	height: 4px;
	background-color: #706b73;
	position: absolute;
	right: 0;
	top: 50%;
	--webkit-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
	transform: translateY(-2px);
}
.line:before {
	position: absolute;
	right: 0;
	top: 50%;
	content: '';
	border-radius: 5px;
	display: block;
	width: 30px;
	height: 4px;
	background-color: #706b73;
	--webkit-transform: translateY(-8px);
	-ms-transform: translateY(-8px);
	-o-transform: translateY(-8px);
	transform: translateY(-8px);
}
.line:after{
	position: absolute;
	right: 0;
	top: 50%;
	content: '';
	border-radius: 5px;
	display: block;
	width: 30px;
	height: 4px;
	background-color: #706b73;
	--webkit-transform: translateY(4px);
	-ms-transform: translateY(4px);
	-o-transform: translateY(4px);
	transform: translateY(4px);
}